@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display&family=Open+Sans+Condensed:wght@300&display=swap');

.discb{
    background: white;
    margin-top: 32px;
    padding: 57px;
}

.llop{
    max-width: 1095px !important;
}


.showca {
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    
  }
  
  .img-container {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 277px;
    overflow: hidden;
    background: var(--primary-color)
      url("../../assets/office.jpg") no-repeat center
      center/cover;
  }
  
  .img-container img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
  
  .img-container:after {
    content: "";
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
  }
  
  .content {
    z-index: 2;
  }
  
  .cardd{
    padding-top: 85px;
    padding-bottom: 20px;
    /* color: #007bff; */
      font-size: 40px;
      font-weight: 900;
  }

  .tl{
      text-align: left;
      padding: 20px;
      font-family: 'Big Shoulders Inline Display', cursive;
      font-family: 'Open Sans Condensed', sans-serif;
  }

  .tr{
    background: url("../../assets/itserv.jpg") no-repeat;
    background-size: cover;
    background-position: center;  
    height: 451px;
}

.tc{
    padding: 26px 0 0px 48px;
    font-size: 21px;
}

  @media(max-width: 600px){
      .discb{
        background: white;
        margin-top: 18px;
        padding: 0px;
        width: 86%;
      }
  }