@media(min-width : 500px){
    .pc{
        display: none;
    }
}

@media(max-width:500px){
    .drt{
        display: none;
    }
}


.dispra{
    height: auto !important;
}

.dispar{
    height: auto !important;
}