.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: block !important;
}

.owl-carousel {
  z-index: 0 !important;
}

.item {
  height: auto;
  
}

.owl-dots {
  display: none !important;
}
